{% extends 'URMSAppBundle::layout.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}

    <p>
        <strong>Welcome to URMS System.</strong> <br>
        This system has been developed to manage common resources of University of Moratuwa.
        Up to now system can manage,<br>
        <ul>
            <li>Univerisity Halls
                <ul>
                    <li>Exam halls</li>
                    <li>Laboratories</li>
                    <li>Class Rooms</li>
                </ul>
             </li>
             <li>University Vehicles
             <ul>
                    <li>Cars</li>
                    <li>Vans</li>
                    <li>Buses</li>
                    <li>Bicycles</li>
                </ul>
             </li>
        </ul>
        <br>
        Use can use this system to know details of desired resources and allocate them.
        <br>Enjoy URMS...!
    </p>
{% endblock %}
{% block sidebarhead %}Home{% endblock %}
