<ul class="nav nav-pills nav-stacked">
    <a href="{{ path('super_admin_addUser') }}"><li>Add Users</li></a>
    <a href="{{ path('super_admin_addLoginAccount') }}"><li>Add Master Password</li></a>
    <a href="#"><li>Notifications</li></a>
    <a href="#"><li>Check out</li></a>
</ul>